.integrations {
  width: 100%;
  padding: 74px 0;
  font-family: var(--font-inter);
}

.container {
  padding: 40px;
  border-radius: 12px;
  background: #131318;
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header {
  width: 100%;
  max-width: 541px;
}

.headerTitle {
  margin-bottom: 24px;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
}

.headerSubtitle {
  color: #cacaca;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.18px;
}

.navigation {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
  gap: 54px;
  border-radius: 99px;
  border: 2px solid #2a2d30;
  background: #242525;
  cursor: pointer;
}

.iconAndText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  /* text */
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.18px;
}

.navigation svg {
  transition: transform 300ms;
}

.navigation:hover svg {
  transform: translateX(4px);
}

.stroke {
  width: 100%;
  height: 1px;
  background: #5d5d5d;
  margin: 40px 0;
}

.partnerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.partners {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.partner {
  border-radius: 8px;
  padding: 12px 24px;
  background: rgba(183, 183, 184, 0.03);
  flex: 1;
}

.partner .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.partner:hover .card {
  transform: scaleX(-1);
}

.name {
  margin-bottom: 16px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  letter-spacing: -0.18px;
}

.sectionTitle {
  margin-bottom: 24px;
  color: #b5b5b5;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
  letter-spacing: -0.18px;
}

@media screen and (max-width: 1024px) {
  .integrations {
    padding: 48px 0;
  }

  .stroke {
    margin: 32px 0;
  }
}

@media screen and (max-width: 768px) {
  .stroke {
    margin: 24px 0;
  }

  .headerWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .navigation {
    align-self: flex-end;
  }
}

@media screen and (max-width: 426px) {
  .integrations {
    padding: 24px 0;
  }

  .container {
    padding: 24px 16px;
  }

  .stroke {
    margin: 16px 0;
  }

  .headerTitle {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 32px;
  }

  .headerSubtitle {
    font-size: 14px;
    line-height: 22px;
  }

  .navigation {
    width: 100%;
  }

  .partnerWrapper {
    gap: 12px;
  }

  .partners {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .section:nth-child(2) .partners {
    grid-template-columns: repeat(2, 1fr);
  }

  .sectionTitle {
    margin-bottom: 12px;
  }

  .partner {
    padding: 8px 18px;
  }

  .name {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.18px;
  }

  .partner img {
    width: 44px;
    height: 44px;
    aspect-ratio: 1/1;
  }
}
