.fadeInSection {
  /* opacity: 0; */
  transform: translateY(100px); /* Default, overridden via inline style */
  transition: opacity 1s ease-out, transform 1s ease-out;
  will-change: opacity, transform;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
