.faq {
  width: 100%;
  padding: 74px 0;
  font-family: var(--font-inter);
}

.headerTitle {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.18px;
  margin-bottom: 74px;
}

.faqList {
  display: flex;
  flex-direction: column;
}

.faqItem {
  overflow: hidden;
  padding: 16px;
  border-radius: 8px;
  transition: all 650ms;
}

.faqItem:hover {
  background: #f2f5f8;
  cursor: pointer;
}

.faqQuestion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  transition: background 0.2s;

  color: #2f2f2f;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  letter-spacing: -0.72px;
}

.chevron {
  color: #6b7280;
  transition: transform 0.2s;
  flex-shrink: 0;
}

.rotated {
  transform: rotate(180deg);
}

.faqAnswer {
  padding-top: 24px;
  color: #626060;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  animation: slideDown 0.2s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .faq {
    width: 100%;
    padding: 48px 0;
    font-family: var(--font-inter);
  }

  .headerTitle {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .headerTitle {
    font-size: 28px;
    line-height: normal;
  }
}

@media screen and (max-width: 426px) {
  .faq {
    padding: 24px 0;
  }

  .headerTitle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .faqQuestion {
    font-size: 14px;
    line-height: 20px;
  }

  .faqAnswer {
    padding-top: 12px;
    color: #626060;
    font-size: 14px;
    line-height: 20px;
  }
}
