:root {
  --background: #ffffff;
  --foreground: #000000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.eclipse {
  border-radius: 813.896px;
  opacity: 0.75;
  background: linear-gradient(
    245deg,
    rgba(51, 118, 115, 0.15) 27.67%,
    rgba(18, 91, 83, 0.15) 86.62%
  );
  filter: blur(100px);
  position: absolute;
  width: 813.896px;
  height: 813.896px;
  transform: translateX(-100%) translateY(50%);
  flex-shrink: 0;
  left: 0;
}
