.header {
  width: 100%;
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.header.pin {
  animation: pin 650ms forwards;
}

.placeholder {
  height: 90px;
  display: block;
}

.overlay {
  /* transition: all 300ms; */
  visibility: hidden;
  width: 100%;
  height: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.overlay.open {
  height: 100vh;
  background: linear-gradient(to right, #162831, #134643);
  visibility: visible;
}

@keyframes pin {
  from {
    background: transparent;
  }

  to {
    background: #162831;
  }
}

.header.open {
  background: linear-gradient(to right, #162831, #134643) !important;
}

.header.pin .container {
  height: 54px;
  padding: 16px;
}

.container {
  width: 100%;
  height: 74px;
  padding: 16px 24px;
  border-radius: 99px;
  background: linear-gradient(
      0deg,
      rgba(122, 221, 119, 0.08) 0%,
      rgba(122, 221, 119, 0.08) 100%
    ),
    #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  display: none;
}

.rhs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.2s;
}

.nav a:hover {
  opacity: 0.8;
}

.headerActions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.loginBtn,
.requestBtn {
  height: 42px;
  border-radius: 32px;
  padding: 12px 20px;
}

.loginBtn {
  width: 78px;
  background: #05511f !important;
  color: #e6e8ec !important;
}

.requestBtn {
  border: 1px solid #05511f !important;
  color: #05511f !important;
}

.mobileMenuBtn {
  display: none;
  background: none;
  border: none;
  color: #292d32;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    height: 56px;
  }

  .logo {
    width: 68px;
    height: auto;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .container .nav,
  .container .headerActions {
    display: none;
  }

  .dropdown,
  .dropdown .nav,
  .dropdown .headerActions,
  .mobileMenuBtn {
    display: flex;
  }

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 80vh;
    top: 62px;
    padding: 0 24px;
    border-radius: 24px;
    background: linear-gradient(
        0deg,
        rgba(122, 221, 119, 0.08) 0%,
        rgba(122, 221, 119, 0.08) 100%
      ),
      #fff;
    height: 0;
    opacity: 0;
    transform: translateY(-10%);
    transition: all 650ms;
    overflow: hidden;
  }

  .dropdown.open {
    height: 80vh;
    padding: 24px;
    opacity: 1;
    transform: translateY(0);
  }

  .dropdown * {
    opacity: 0;
    transition: 300ms;
  }

  .dropdown.open * {
    opacity: 1;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    height: 100%;
  }

  .nav a {
    width: 100%;
    text-align: center;
    padding: 16px;
    border-radius: 32px;
    padding: 12px 20px;
    background: #0551200a;
    transition: all 300ms;
  }

  .nav a:hover {
    transform: scale(1.04);
  }

  .headerActions {
    flex-direction: column;
  }

  .loginBtn,
  .requestBtn {
    width: 100% !important;
  }
}
